# Server
fastapi
uvicorn[standard]
python-dotenv
httpx
ollama

# Client
streamlit
requests

# Ingestion & RAG
langchain-unstructured  
langchain-text-splitters
chromadb
sentence-transformers
python-magic-bin       
